{% extends "base.html" %}
{% block content %}
  <h1>メモアプリのh1</h1>
  <a href="/regist" role="botton">新規登録</a>
  <a href="/logout" role="botton">ログアウト</a>
  {% if not memos %}
    <p>まだメモがありません。</p>
  {% else %}
    <table style="border-collapse: collapse; border: 1px solid black;">
    <tr>
      <th style="border: 1px solid black;">タイトル</th>
      <th style="border: 1px solid black;">内容</th>
      <th></th>
    </tr>
    {% for memo in memos %}
      <tr>
        <td style="border: 1px solid black;">{{memo.title}}</td>
        <td style="border: 1px solid black;">{{memo.body}}</td>
        <td>
          <a href="/{{memo.id}}/edit" role="botton">編集</a>
          <a href="/{{memo.id}}/delete" role="botton">削除</a>
        </td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}
